body {
  -webkit-animation: bgchange 30s ease infinite;
          animation: bgchange 30s ease infinite;
}
@-webkit-keyframes bgchange {
  0% {
    background: #acc7df;
  }
  25% {
    background: #5c7ab8;
  }
  50% {
    background: #2c4c8d;
  }
  75% {
    background: #5c7ab8;
  }
  100% {
    background: #acc7df;
  }
}
@keyframes bgchange {
  0% {
    background: #acc7df;
  }
  25% {
    background: #5c7ab8;
  }
  50% {
    background: #2c4c8d;
  }
  75% {
    background: #5c7ab8;
  }
  100% {
    background: #acc7df;
  }
}

#app {
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 60px;
  padding: 0 2%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
}
header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .left img {
  width: 60px;
  height: 50px;
}
header .change-btn {
  background: #14ee00;
  -webkit-box-shadow: inset 10px 10px 20px #139702, inset -10px -10px 20px #004700;
          box-shadow: inset 10px 10px 20px #139702, inset -10px -10px 20px #004700;
  height: 40px;
  font-weight: bold;
}

.wrapper {
  text-align: center;
  max-width: 1000px;
  padding: 1%;
  background: #e1f0f1;
  border-radius: 20px;
  margin: 90px 1% 10px;
}

form input {
  width: 200px;
}
form input::-webkit-input-placeholder {
  opacity: 0.4;
}
form input::-moz-placeholder {
  opacity: 0.4;
}
form input:-ms-input-placeholder {
  opacity: 0.4;
}
form input::-ms-input-placeholder {
  opacity: 0.4;
}
form input::placeholder {
  opacity: 0.4;
}

label {
  margin: 25px 20px 15px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: rgba(187, 187, 187, 0.1);
  margin: 5px 0 60px;
}

thead th {
  border-bottom: 2px solid #0099e4;
  color: #0099e4;
}
thead th.id {
  width: 35px;
}
thead th.state {
  width: 80px;
}
thead th.btn {
  width: 30px;
}

.task {
  background: rgba(187, 187, 187, 0.2);
}

th,
th {
  padding: 0 8px;
  line-height: 40px;
}

tbody tr {
  border-bottom: 1px solid #ccc;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
tbody tr .state-btn {
  background: #32a4bb;
  -webkit-box-shadow: inset 10px 10px 20px #4997a7, inset -10px -10px 20px #48e4ff;
          box-shadow: inset 10px 10px 20px #4997a7, inset -10px -10px 20px #48e4ff;
}
tbody tr.done {
  color: #bbb;
}
tbody tr.done .state-btn {
  background: #12d300;
  -webkit-box-shadow: inset 10px 10px 20px #139702, inset -10px -10px 20px #038503;
          box-shadow: inset 10px 10px 20px #139702, inset -10px -10px 20px #038503;
}

.remove {
  font-weight: bold;
  background: #fd0000;
  -webkit-box-shadow: inset 10px 10px 20px #ce0000, inset -10px -10px 20px #9b0101;
          box-shadow: inset 10px 10px 20px #ce0000, inset -10px -10px 20px #9b0101;
}

#timer {
  margin: 0 10%;
  background-color: rgba(179, 175, 175, 0.7);
  border-radius: 10px;
  letter-spacing: 2px;
  line-height: 100px;
  font-size: 45px;
  font-weight: bold;
}

.timer-btn {
  margin-bottom: 10px;
}
.timer-btn .btn:first-child {
  margin-right: 15px;
}
.timer-btn .set-btn {
  margin-top: 15px;
  padding: 20px 30px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
}
.timer-btn #start {
  background: #12d300;
  -webkit-box-shadow: inset 10px 10px 20px #139702, inset -10px -10px 20px #038503;
          box-shadow: inset 10px 10px 20px #139702, inset -10px -10px 20px #038503;
}
.timer-btn #reset {
  background: #fd0000;
  -webkit-box-shadow: inset 10px 10px 20px #a11616, inset -10px -10px 20px #940000;
          box-shadow: inset 10px 10px 20px #a11616, inset -10px -10px 20px #940000;
}

button {
  border: none;
  border-radius: 20px;
  line-height: 24px;
  padding: 2px 10px;
  color: #f3f3f3;
  background: #1f6bdb;
  -webkit-box-shadow: inset 10px 10px 20px #47afc4, inset -10px -10px 20px #2f6e79;
          box-shadow: inset 10px 10px 20px #47afc4, inset -10px -10px 20px #2f6e79;
}
/*# sourceMappingURL=styles.css.map */